<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">

	<configuration-properties
		doc:name="Configuration properties"
		doc:id="7ebdf44d-9934-4c3d-89ba-3238a37869c8"
		file="mule-app.properties" />

	<sap:sap-config name="SAP_Config" doc:name="SAP Config"
		doc:id="b6e9436d-3ca0-4964-ad76-bc278be29ef2">
		<sap:simple-connection-provider-connection
			applicationServerHost="${secure::sap.jcoAsHost}" username="${secure::sap.jcoUser}"
			password="${secure::sap.jcoPasswd}" systemNumber="${sap.jcoSysnr}"
			client="${sap.jcoClient}" />
	</sap:sap-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="dac5c442-849d-463a-a686-c7fad97bef64" file="mule-app.properties" key="${mule.key}" />
</mule>
